In [1]:
import pandas as pd
import os
import numpy as np
from scipy.stats import norm

In [42]:
def bs_price(S,K,sigma,r,T, year_rate = 252, option_type = "call"):
    '''
    bs 期权定价 输出为期权价格
    输入格式：
    S:标的价格
    K:行权价
    sigma:波动率
    r:无风险利率
    T:年华剩余期限
    year_rate:年化系数
    '''

    T = T/year_rate
    d1 = (np.log(S/K) + (r + pow(sigma,2)/2)*T) / (sigma*np.sqrt(T)) 
    d2 = d1 - sigma*np.sqrt(T)
    if option_type == 'call':
        # return S*norm.cdf(d1) - K*np.exp(-r*T)*norm.cdf(d2)
        return np.maximum(S - K, 0) if T==0 else S*norm.cdf(d1) - K*np.exp(-r*T)*norm.cdf(d2)
    elif option_type == 'put':
        # return K*np.exp(-r*T)*norm.cdf(-d2) - S*norm.cdf(-d1)
        return np.maximum(K-S,0) if T==0 else K*np.exp(-r*T)*norm.cdf(-1*d2) - S*norm.cdf(-1*d1)
    else:
        print("期权类型错误")
        return -1

def bs_vega(S,K,sigma,r,T ,year_rate = 252):
    '''
    计算vega
    '''
    T = T/year_rate
    d1 = (np.log(S/K) + (r + pow(sigma,2)/2)*T) / (sigma*np.sqrt(np.abs(T)) )
    return S*norm.pdf(d1)*np.sqrt(np.abs(T))
    # return S * np.sqrt(abs(T)) * np.exp(-pow(d1,2)/2) / np.sqrt(2*np.pi)

def iv_bs_bisection(S, K, r, T, price, option_type, iv_uplimit = 1.0, iv_downlimit = 0.01, precision = 3, year_rate = 365, max_iterations = 200):
    '''二分法求iv'''
    left_iv, right_iv = iv_downlimit, iv_uplimit
    # left_price = BS_price(S,K,left_iv, r, T,  year_rate = year_rate, option_type = option_type)
    # right_price= BS_price(S,K,right_iv, r, T,  year_rate = year_rate, option_type = option_type)
    mid_iv = (left_iv + right_iv)/2
    mid_price = bs_price(S,K,mid_iv, r, T,  year_rate = year_rate, option_type = option_type)
    # print(f"first, the mid price is {mid_price}, the price is {price}")
    cnt = 0
    while abs(price - mid_price) >= 0.1**precision and cnt < max_iterations:
        if mid_price < price :
            left_iv = mid_iv
        else:
            right_iv = mid_iv
        mid_iv = (left_iv + right_iv)/2
        # if mid_iv < iv_uplimit or mid_iv > iv_downlimit:
        #     break
        # print(f"cnt = {cnt}, the left is{left_iv}, the right is{right_iv}, the mid is {mid_iv}")
        cnt += 1
        mid_price = bs_price(S,K,mid_iv, r, T,  year_rate = year_rate, option_type = option_type)
    return mid_iv

def find_vol_newton( S, K, r, T, target_value, option_type, start_sigma = 0.5, precision = 3, year_rate = 252, max_iterations = 100):
    '''迭代法求iv'''
    sigma = start_sigma
    for i in range(0, max_iterations):
        bs_price_ = bs_price(S,K,sigma,r,T, year_rate = year_rate, option_type = option_type)
        vega = bs_vega(S, K, T, r, sigma, year_rate = year_rate)*100
        diff = target_value - bs_price_  # our root
        if (abs(diff) < 0.1**precision):
            return sigma
        sigma = sigma + diff/(vega) # f(x) / f'(x)
    return sigma # value wasn't found, return best guess so far

def change(type_name):
    if type_name == 1:
        return "call"
    elif type_name == 0:
        return "put"
    else:
        return "wrong_type"

In [45]:
iv_bs_bisection(3.32, 3.4, 0.018,73, 0.33, 'call')

0.6083398558139801

In [46]:
find_vol_newton(3.32, 3.4, 0.018,73, 0.33, 'call')

0.6083396961968708

In [9]:
'''测试，数据清洗'''
csv_name = 'data/50etf_option_data_csv_cleaned/10000001.csv'
csv_out = 'data/out/10000001.csv'

count = 0
callcount = 0
putcount = 0

data = pd.read_csv(csv_name, encoding = 'utf-8', index_col= False)
data

,Unnamed: 0,date,pre_close,open,high,low,close,volume,amt,ptmtradeday,...,exercise_price,contract_unit,limit_month,listed_date,expire_date,exercise_date,settlement_date,reference_price,settle_mode,contract_state
0,0,2015/2/9 0:00,非数字,0.1820,0.2029,0.1699,0.1826,2501,4712265,28,...,2.2,10000,Mar-15,2015/2/9 0:00,2015/3/25 0:00,2015/3/25,2015/3/26,0.1812,实物资产,退市
1,1,2015/2/10 0:00,0.1826,0.1856,0.2144,0.1800,0.2072,1842,3744873,27,...,2.2,10000,Mar-15,2015/2/9 0:00,2015/3/25 0:00,2015/3/25,2015/3/26,0.1812,实物资产,退市
2,2,2015/2/11 0:00,0.2072,0.2083,0.2195,0.2028,0.2107,1999,4231181,26,...,2.2,10000,Mar-15,2015/2/9 0:00,2015/3/25 0:00,2015/3/25,2015/3/26,0.1812,实物资产,退市
3,3,2015/2/12 0:00,0.2107,0.2141,0.2143,0.1915,0.2109,2334,4804803,25,...,2.2,10000,Mar-15,2015/2/9 0:00,2015/3/25 0:00,2015/3/25,2015/3/26,0.1812,实物资产,退市
4,4,2015/2/13 0:00,0.2109,0.2130,0.2459,0.2090,0.2090,2066,4604396,24,...,2.2,10000,Mar-15,2015/2/9 0:00,2015/3/25 0:00,2015/3/25,2015/3/26,0.1812,实物资产,退市
5,5,2015/2/16 0:00,0.209,0.2111,0.2219,0.2066,0.2172,1153,2450037,23,...,2.2,10000,Mar-15,2015/2/9 0:00,2015/3/25 0:00,2015/3/25,2015/3/26,0.1812,实物资产,退市
6,6,2015/2/17 0:00,0.2172,0.2226,0.2408,0.2226,0.2296,759,1778307,22,...,2.2,10000,Mar-15,2015/2/9 0:00,2015/3/25 0:00,2015/3/25,2015/3/26,0.1812,实物资产,退市
7,7,2015/2/25 0:00,0.2296,0.2235,0.2250,0.1816,0.1885,815,1705437,21,...,2.2,10000,Mar-15,2015/2/9 0:00,2015/3/25 0:00,2015/3/25,2015/3/26,0.1812,实物资产,退市
8,8,2015/2/26 0:00,0.1885,0.1900,0.2530,0.1730,0.2530,1246,2747089,20,...,2.2,10000,Mar-15,2015/2/9 0:00,2015/3/25 0:00,2015/3/25,2015/3/26,0.1812,实物资产,退市
9,9,2015/2/27 0:00,0.253,0.2534,0.2739,0.2431,0.2488,873,2264841,19,...,2.2,10000,Mar-15,2015/2/9 0:00,2015/3/25 0:00,2015/3/25,2015/3/26,0.1812,实物资产,退市
10,10,2015/3/2 0:00,0.2488,0.2587,0.2717,0.2425,0.2504,718,1830178,18,...,2.2,10000,Mar-15,2015/2/9 0:00,2015/3/25 0:00,2015/3/25,2015/3/26,0.1812,实物资产,退市
11,11,2015/3/3 0:00,0.2504,0.2430,0.2430,0.1790,0.1790,1040,2171845,17,...,2.2,10000,Mar-15,2015/2/9 0:00,2015/3/25 0:00,2015/3/25,2015/3/26,0.1812,实物资产,退市
12,12,2015/3/4 0:00,0.179,0.1844,0.1978,0.1672,0.1740,636,1157389,16,...,2.2,10000,Mar-15,2015/2/9 0:00,2015/3/25 0:00,2015/3/25,2015/3/26,0.1812,实物资产,退市
13,13,2015/3/5 0:00,0.174,0.1700,0.2245,0.1360,0.1502,1328,2060260,15,...,2.2,10000,Mar-15,2015/2/9 0:00,2015/3/25 0:00,2015/3/25,2015/3/26,0.1812,实物资产,退市
14,14,2015/3/6 0:00,0.1502,0.1568,0.1705,0.1520,0.1533,652,1050282,14,...,2.2,10000,Mar-15,2015/2/9 0:00,2015/3/25 0:00,2015/3/25,2015/3/26,0.1812,实物资产,退市
15,15,2015/3/9 0:00,0.1533,0.1466,0.2098,0.1154,0.1974,1816,2801425,13,...,2.2,10000,Mar-15,2015/2/9 0:00,2015/3/25 0:00,2015/3/25,2015/3/26,0.1812,实物资产,退市
16,16,2015/3/10 0:00,0.1974,0.1966,0.1966,0.1668,0.1688,1133,2015320,12,...,2.2,10000,Mar-15,2015/2/9 0:00,2015/3/25 0:00,2015/3/25,2015/3/26,0.1812,实物资产,退市
17,17,2015/3/11 0:00,0.1688,0.1746,0.2105,0.1697,0.1774,1175,2226070,11,...,2.2,10000,Mar-15,2015/2/9 0:00,2015/3/25 0:00,2015/3/25,2015/3/26,0.1812,实物资产,退市
18,18,2015/3/12 0:00,0.1774,0.1870,0.2696,0.1870,0.2525,2159,5065646,10,...,2.2,10000,Mar-15,2015/2/9 0:00,2015/3/25 0:00,2015/3/25,2015/3/26,0.1812,实物资产,退市
19,19,2015/3/13 0:00,0.2525,0.2559,0.2949,0.2432,0.2570,1300,3512310,9,...,2.2,10000,Mar-15,2015/2/9 0:00,2015/3/25 0:00,2015/3/25,2015/3/26,0.1812,实物资产,退市
20,20,2015/3/16 0:00,0.257,0.2685,0.3099,0.2549,0.3075,1245,3554893,8,...,2.2,10000,Mar-15,2015/2/9 0:00,2015/3/25 0:00,2015/3/25,2015/3/26,0.1812,实物资产,退市
21,21,2015/3/17 0:00,0.3075,0.3264,0.3417,0.3172,0.3385,697,2313861,7,...,2.2,10000,Mar-15,2015/2/9 0:00,2015/3/25 0:00,2015/3/25,2015/3/26,0.1812,实物资产,退市
22,22,2015/3/18 0:00,0.3385,0.3467,0.4044,0.3467,0.4044,571,2122374,6,...,2.2,10000,Mar-15,2015/2/9 0:00,2015/3/25 0:00,2015/3/25,2015/3/26,0.1812,实物资产,退市
23,23,2015/3/19 0:00,0.4044,0.3983,0.4050,0.3762,0.3902,427,1662263,5,...,2.2,10000,Mar-15,2015/2/9 0:00,2015/3/25 0:00,2015/3/25,2015/3/26,0.1812,实物资产,退市
24,24,2015/3/20 0:00,0.3902,0.4053,0.4679,0.3811,0.4290,558,2379963,4,...,2.2,10000,Mar-15,2015/2/9 0:00,2015/3/25 0:00,2015/3/25,2015/3/26,0.1812,实物资产,退市
25,25,2015/3/23 0:00,0.429,0.4450,0.4798,0.4450,0.4742,262,1218489,3,...,2.2,10000,Mar-15,2015/2/9 0:00,2015/3/25 0:00,2015/3/25,2015/3/26,0.1812,实物资产,退市
26,26,2015/3/24 0:00,0.4742,0.4861,0.4861,0.4133,0.4415,228,1015972,2,...,2.2,10000,Mar-15,2015/2/9 0:00,2015/3/25 0:00,2015/3/25,2015/3/26,0.1812,实物资产,退市
27,27,2015/3/25 0:00,0.4415,0.4380,0.4380,0.3884,0.4007,298,1244646,1,...,2.2,10000,Mar-15,2015/2/9 0:00,2015/3/25 0:00,2015/3/25,2015/3/26,0.1812,实物资产,退市

In [21]:
tf50 = pd.read_excel(r'.\data\50etf_df.xlsx')
tf50.columns

Index(['Date', 'pre_close', 'open', 'high', 'low', 'close', 'volume', 'amt',
       'dealnum', 'chg', 'pct_chg', 'swing', 'turn'],
      dtype='object')

In [22]:
data.columns

Index(['date', 'ptmtradeday', 'exe_price', 'open', 'high', 'low', 'close',
       'call_or_put'],
      dtype='object')

In [11]:
data["date"] = pd.to_datetime(data["date"])
data = data[['date','ptmtradeday','exe_price', 'open', 'high','low','close', 'call_or_put']]
data.head()

,date,ptmtradeday,exe_price,open,high,low,close,call_or_put
0,2015-02-09,28,2.2,0.1820,0.2029,0.1699,0.1826,1
1,2015-02-10,27,2.2,0.1856,0.2144,0.1800,0.2072,1
2,2015-02-11,26,2.2,0.2083,0.2195,0.2028,0.2107,1
3,2015-02-12,25,2.2,0.2141,0.2143,0.1915,0.2109,1
4,2015-02-13,24,2.2,0.2130,0.2459,0.2090,0.2090,1

In [12]:
data['call_or_put'] = data['call_or_put'].apply(change)
data.head()

C:\fun\annaconda\envs\tensorflow\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

,date,ptmtradeday,exe_price,open,high,low,close,call_or_put
0,2015-02-09,28,2.2,0.1820,0.2029,0.1699,0.1826,put
1,2015-02-10,27,2.2,0.1856,0.2144,0.1800,0.2072,put
2,2015-02-11,26,2.2,0.2083,0.2195,0.2028,0.2107,put
3,2015-02-12,25,2.2,0.2141,0.2143,0.1915,0.2109,put
4,2015-02-13,24,2.2,0.2130,0.2459,0.2090,0.2090,put

In [13]:
rate = pd.read_excel(r".\data\unrisked_rate.xlsx")
rate['date'] = pd.to_datetime(rate['date'])
rate['Value'] = rate['Value']/100
rate.head()

        date     Value
0 2012-10-08  0.035896
1 2012-10-09  0.035942
2 2012-10-10  0.036249
3 2012-10-11  0.036252
4 2012-10-12  0.036240

In [15]:
rate.shape

(2517, 2)

In [14]:
etf50 = pd.read_excel(r'.\data\50etf_df.xlsx')
etf50 = etf50[['Date','close']]
etf50['Date'] = pd.to_datetime(etf50['Date'])
etf50.head()

        Date  close
0 2005-02-23  0.876
1 2005-02-24  0.876
2 2005-02-25  0.880
3 2005-02-28  0.872
4 2005-03-01  0.867

In [16]:
etf50.shape

(4305, 2)

In [18]:
merged_option1 = pd.merge(rate, data, on = 'date', how = 'inner')
merged_option1

,date,Value,ptmtradeday,exe_price,open,high,low,close,call_or_put
0,2015-02-09,0.045769,28,2.2,0.1820,0.2029,0.1699,0.1826,put
1,2015-02-10,0.045696,27,2.2,0.1856,0.2144,0.1800,0.2072,put
2,2015-02-11,0.045715,26,2.2,0.2083,0.2195,0.2028,0.2107,put
3,2015-02-12,0.045540,25,2.2,0.2141,0.2143,0.1915,0.2109,put
4,2015-02-13,0.045669,24,2.2,0.2130,0.2459,0.2090,0.2090,put
5,2015-02-16,0.045716,23,2.2,0.2111,0.2219,0.2066,0.2172,put
6,2015-02-17,0.045626,22,2.2,0.2226,0.2408,0.2226,0.2296,put
7,2015-02-25,0.045924,21,2.2,0.2235,0.2250,0.1816,0.1885,put
8,2015-02-26,0.046345,20,2.2,0.1900,0.2530,0.1730,0.2530,put
9,2015-02-27,0.046482,19,2.2,0.2534,0.2739,0.2431,0.2488,put
10,2015-03-02,0.046612,18,2.2,0.2587,0.2717,0.2425,0.2504,put
11,2015-03-03,0.046759,17,2.2,0.2430,0.2430,0.1790,0.1790,put
12,2015-03-04,0.046664,16,2.2,0.1844,0.1978,0.1672,0.1740,put
13,2015-03-05,0.046857,15,2.2,0.1700,0.2245,0.1360,0.1502,put
14,2015-03-06,0.047095,14,2.2,0.1568,0.1705,0.1520,0.1533,put
15,2015-03-09,0.047596,13,2.2,0.1466,0.2098,0.1154,0.1974,put
16,2015-03-10,0.047313,12,2.2,0.1966,0.1966,0.1668,0.1688,put
17,2015-03-11,0.047009,11,2.2,0.1746,0.2105,0.1697,0.1774,put
18,2015-03-12,0.047020,10,2.2,0.1870,0.2696,0.1870,0.2525,put
19,2015-03-13,0.046982,9,2.2,0.2559,0.2949,0.2432,0.2570,put
20,2015-03-16,0.047459,8,2.2,0.2685,0.3099,0.2549,0.3075,put
21,2015-03-17,0.047672,7,2.2,0.3264,0.3417,0.3172,0.3385,put
22,2015-03-18,0.047207,6,2.2,0.3467,0.4044,0.3467,0.4044,put
23,2015-03-19,0.047304,5,2.2,0.3983,0.4050,0.3762,0.3902,put
24,2015-03-20,0.046605,4,2.2,0.4053,0.4679,0.3811,0.4290,put
25,2015-03-23,0.046715,3,2.2,0.4450,0.4798,0.4450,0.4742,put
26,2015-03-24,0.046692,2,2.2,0.4861,0.4861,0.4133,0.4415,put
27,2015-03-25,0.046926,1,2.2,0.4380,0.4380,0.3884,0.4007,put

In [20]:
merged_option2 = pd.merge(etf50, merged_option1, left_on = 'Date', right_on = 'date', how = 'inner')
merged_option2

,Date,close_x,date,Value,ptmtradeday,exe_price,open,high,low,close_y,call_or_put
0,2015-02-09,2.331,2015-02-09,0.045769,28,2.2,0.1820,0.2029,0.1699,0.1826,put
1,2015-02-10,2.369,2015-02-10,0.045696,27,2.2,0.1856,0.2144,0.1800,0.2072,put
2,2015-02-11,2.380,2015-02-11,0.045715,26,2.2,0.2083,0.2195,0.2028,0.2107,put
3,2015-02-12,2.384,2015-02-12,0.045540,25,2.2,0.2141,0.2143,0.1915,0.2109,put
4,2015-02-13,2.390,2015-02-13,0.045669,24,2.2,0.2130,0.2459,0.2090,0.2090,put
5,2015-02-16,2.394,2015-02-16,0.045716,23,2.2,0.2111,0.2219,0.2066,0.2172,put
6,2015-02-17,2.411,2015-02-17,0.045626,22,2.2,0.2226,0.2408,0.2226,0.2296,put
7,2015-02-25,2.370,2015-02-25,0.045924,21,2.2,0.2235,0.2250,0.1816,0.1885,put
8,2015-02-26,2.450,2015-02-26,0.046345,20,2.2,0.1900,0.2530,0.1730,0.2530,put
9,2015-02-27,2.438,2015-02-27,0.046482,19,2.2,0.2534,0.2739,0.2431,0.2488,put
10,2015-03-02,2.441,2015-03-02,0.046612,18,2.2,0.2587,0.2717,0.2425,0.2504,put
11,2015-03-03,2.364,2015-03-03,0.046759,17,2.2,0.2430,0.2430,0.1790,0.1790,put
12,2015-03-04,2.362,2015-03-04,0.046664,16,2.2,0.1844,0.1978,0.1672,0.1740,put
13,2015-03-05,2.334,2015-03-05,0.046857,15,2.2,0.1700,0.2245,0.1360,0.1502,put
14,2015-03-06,2.339,2015-03-06,0.047095,14,2.2,0.1568,0.1705,0.1520,0.1533,put
15,2015-03-09,2.397,2015-03-09,0.047596,13,2.2,0.1466,0.2098,0.1154,0.1974,put
16,2015-03-10,2.359,2015-03-10,0.047313,12,2.2,0.1966,0.1966,0.1668,0.1688,put
17,2015-03-11,2.374,2015-03-11,0.047009,11,2.2,0.1746,0.2105,0.1697,0.1774,put
18,2015-03-12,2.448,2015-03-12,0.047020,10,2.2,0.1870,0.2696,0.1870,0.2525,put
19,2015-03-13,2.455,2015-03-13,0.046982,9,2.2,0.2559,0.2949,0.2432,0.2570,put
20,2015-03-16,2.510,2015-03-16,0.047459,8,2.2,0.2685,0.3099,0.2549,0.3075,put
21,2015-03-17,2.543,2015-03-17,0.047672,7,2.2,0.3264,0.3417,0.3172,0.3385,put
22,2015-03-18,2.611,2015-03-18,0.047207,6,2.2,0.3467,0.4044,0.3467,0.4044,put
23,2015-03-19,2.587,2015-03-19,0.047304,5,2.2,0.3983,0.4050,0.3762,0.3902,put
24,2015-03-20,2.635,2015-03-20,0.046605,4,2.2,0.4053,0.4679,0.3811,0.4290,put
25,2015-03-23,2.676,2015-03-23,0.046715,3,2.2,0.4450,0.4798,0.4450,0.4742,put
26,2015-03-24,2.638,2015-03-24,0.046692,2,2.2,0.4861,0.4861,0.4133,0.4415,put
27,2015-03-25,2.604,2015-03-25,0.046926,1,2.2,0.4380,0.4380,0.3884,0.4007,put

In [23]:
merged_option2.columns

Index(['Date', 'close_x', 'date', 'Value', 'ptmtradeday', 'exe_price', 'open',
       'high', 'low', 'close_y', 'call_or_put'],
      dtype='object')

In [ ]:
merged_option2 = merged_option2[['call_or_put','date','ptmtradeday','exe_price','Value', 'open', 'high','low','close_y','close_x']]
merged_option2.columns = ['call_or_put', 'date','ptmtradeday','k', 'rate', 'open', 'high','low','close','s']
# print(merged_option2.s)
# merged_option2['iv'] = merged_option2.apply(lambda row : iv_bs_bisection(row['s'], row['k'], row['rate'], row['ptmtradeday'], row['close'], row['call_or_put'], iv_uplimit = 1.0, iv_downlimit = 0.0001, precision = 6, year_rate = 365),  axis=1)
merged_option2['iv'] = pd.Series
for i in range(merged_option2.shape[1]):
    merged_option2['iv'][i] = iv_bs_bisection(np.array(merged_option2['s'][i]), np.array(merged_option2['k'][i]), np.array(merged_option2['rate'][i]), np.array(merged_option2['ptmtradeday'][i]), np.array(merged_option2['close'][i]), np.array(merged_option2['call_or_put'][i]), iv_uplimit = 1.0, iv_downlimit = 0.0001, precision = 6, year_rate = 365, max_iterations= 120)
    # merged_option2['iv'][i] = find_vol_newton(merged_option2['s'][i],merged_option2['k'][i], merged_option2['rate'][i], merged_option2['ptmtradeday'][i], merged_option2['close'][i], merged_option2['call_or_put'][i],start_sigma = 0.1, precision = 3, year_rate = 365.0, max_iterations = 100)
    print(merged_option2['s'][i],merged_option2['k'][i], merged_option2['rate'][i])
    print(merged_option2['iv'][i])
    # break
merged_option2.to_csv(output_path)